@import "./css/typography.css";
@import "./css/themes.css";

html {
  font-size: 16px;
}

body {
  font-family: var(--font-body);
}

header {
  display: flex;
  align-items: center;
  width: 87.5%;
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 1rem;
  color: black;
  filter: invert(1);
  mix-blend-mode: difference;
}

.nav {
  margin-right: 2rem;

  a:link,
  a:visited {
    color: var(--color-black);
    background-image: linear-gradient(transparent 50%, var(--color-black) 0);
  }
  a:hover,
  a:active,
  a:focus {
    color: var(--color-bright);
  }
}

main {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

footer {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  max-width: 1400px;
}

h1 {
  font-weight: 300;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
  font-family: var(--font-title);
  color: var(--color-bright);

  strong {
    font-weight: 600;
    font-family: var(--font-logo);
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

a.home:link,
a.home:visited,
a.home:hover,
a.home:active,
a.home:focus {
  display: inline-block;
  font-size: 2.1rem;
  color: inherit;
  outline: none;
  background: transparent;
  margin-right: auto;
}

a.home span {
  display: block;
  width: 0px;
  font-size: 0px;
  text-indent: -99rem;
  line-height: 0px;
}
a.home svg {
  width: 4rem;
}

h2 {
  font-weight: 200;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.5rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

article {
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
  max-width: 700px;
}

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

section > p,
section > footer,
section > table {
  width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > ol,
section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Links: replicate underline that clears descenders */
p a:link {
  color: var(--color-bright);
  background: transparent;
}
p a:visited {
  color: var(--color-main);
  background: transparent;
}
p a:hover,
p a:active {
  text-decoration: underline;
  color: var(--color-contrast);
  background: transparent;
}
a:link,
a:visited {
  color: var(--color-contrast);
  background: linear-gradient(transparent 50%, var(--color-contrast) 0);
  background-size: 100% 200%;
  background-position: left top;
  transition: all 0.2s ease-out;
}
a:hover,
a:active,
a:focus {
  color: var(--color-bg);
  background-position: left bottom;
}
