<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}" class="home">
        <span>{{ metadata.title }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 149 182" fill="none" id="logo">
          <path d="M98.8854 166V107.813H79V95H134V107.813H114.018V166H98.8854Z" fill="currentcolor"/>
          <path d="M16 166V95H33.5728L59.5 140.953V95H74V166H59.0199L33.3808 120.433H30.5V166H16Z" fill="currentcolor"/>
          <path d="M16 87V16H66V28.8128H30.914V45.5753H61.6979V57.9064H30.914V87H16Z" fill="currentcolor"/>
          <path d="M77 87V16H121.823L132.499 26.6934V51.1628L123.554 60.0258L135 87H119.129L108.934 61.8562H92.005V87H77ZM92.005 49.7178H113.935L117.783 45.9606L117.687 31.8955L113.935 28.1384H92.005V49.7178Z" fill="currentcolor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8 8H141V174H8V8ZM149 174H141V182H8H0V174V8V0H8H141H149V8V174Z" fill="currentcolor"/>
        </svg>
      </a>
      <ul class="nav">
        {%- for nav in collections.nav | reverse -%}
        <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
        {%- endfor -%}
      </ul>
      <div class="theme-switch-wrapper">
          <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
        </label>
        <em>Enable Dark Mode!</em>
      </div>
    </header>

    <script src="/js/script.js"></script>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
        <p><em>This is an <a href="https://www.11ty.io/">Eleventy</a> + <a href="https://www.sanity.io">Sanity.io</a> project inspired by the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
