---
layout: layouts/author
tags:
  - myAuthors
pagination:
  alias: author
  data: authors
  size: 1
  addAllPagesToCollections: true
permalink:
  build: authors/{{ author.name | slug }}/index.html
  instant: authors/{{ author.name | slug }}/index.html
---


